<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="./img/cloud.png" alt="">
    <title>About</title <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">{{>header}}
        <p>This site was created by Kameron Lund it uses weatherstack and mapbox to collect it's data</p>
        <img class="portrait" src="./img/sample-image.jpeg" alt="">
    </div>
    {{>footer}}
</body>

</html>